%h1 Listing shifts


%br

= link_to 'New Shift', new_shift_path, class: [:btn, :'btn-default']

- if params[:layout] == 'table'
  = render 'table'
- else
  %button#take-shifts.btn.btn-default Take Shifts

  #shifts-form= form_tag take_shifts_path

  #shifts
