- if params[:layout] == 'table'
  = render 'table'
- else
  - if params[:action] == 'open'
    %button#take-shifts.btn.btn-default.btn-primary Take Shifts

    #shifts-form= form_tag take_shifts_path

  #shifts
