- if params[:layout] == 'table'
  = render 'table'
- else
  %button#take-shifts.btn.btn-default.btn-primary Take Shifts

  #shifts-form
    = form_tag take_shifts_path do
      - if can? :read, User
        = collection_select :shift, :worker_ids, User.all, :id, :full_name, {}, { multiple: true, id: 'users' }

  #shifts
