- day_span = ((@end_date - @start_date).to_f / (24 * 60 * 60)).ceil + 1

- @tasks.each do |task|
  %table.schedule
    %thead
      %tr
        %th.task{colspan: day_span + 1}= task.name
      %tr
        %th
        - days(@start_date, @end_date).each do |day|
          %th= day.strftime('%b %d')
    %tbody
      - shifts = Shift.where('start >= ? AND start < ? AND task_id = ?', @start_date, @end_date, task)
      - if shifts.count == 0
        %tr
          %td.no-data{colspan: day_span + 1} No Shifts
      - else
        - start_hour, end_hour = shifts.collect{ |s| s.start.hour }.minmax
        - (start_hour .. end_hour).step(1) do |hour|
          %tr
            %th= sprintf '%d–%d:00', hour, hour + 1
            - days(@start_date, @end_date).each do |day|
              - day = day.change(hour: hour)
              %td
                %ul.workers
                  - task.shifts.where('start >= ? AND start < ?', day, day + 1.hour).each do |shift|
                    - shift.workers.each do |worker|
                      - if can? :read, User
                        %li= link_to worker.email, shift
                      - else
                        %li.taken
                    - (1 .. shift.needed).each do |x|
                      %li
              
