/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree ./all
 *= require twitter/bootstrap
 */
img[src='/images/facebook-login.svg'] {
    max-width: 6em;
}

#logo {
    max-width: 1em;
}

.ie #logo {
    display: none;
}

.dropdown-menu {
    .iconed, .glyphicon {
        display: inline-block;
    }
}

.datatable {
    margin-bottom: 1em;
    
    th, td {
        border: 1px solid;
        padding: .25em .5em;
    }
}

body a:visited {
    color: #D63385;
}

a.btn:visited {
    color: #555;
}
