/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree ./all
 */

@import "bootstrap-custom";

/* hack to fix overlap issue */
#body { margin-top: 60px; }

img[src='/images/facebook-login.svg'] {
    max-width: 6em;
}

#logo {
    max-width: 1em;
    float: left;
}

.navbar-brand {
    padding-left: 1em;
}

[browser='ie'], [browser='firefox'] {
    #logo {
        display: none;
    }
}

.dropdown-menu {
    .iconed, .glyphicon {
        display: table-cell;
    }

    .tabled {
        display: table;
        width: 100%;
    }

    li > a {
        padding: 3px 10px;
    }
}

.datatable {
    margin: auto;
    margin-bottom: 1em;
    
    th, td {
        border: 1px solid;
        padding: .25em .5em;
    }
}

body a:visited {
    color: #D63385;
}

a.btn:visited {
    color: #EEE;
}

a.btn-default:visited {
    color: #555;
}

.navbar:after, #body:before {
    display: block;
    clear: both;
    content: '';
}

body a:visited {
    color: #333;
}
