// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

#take-shifts {
    position: fixed;
    top: 5em;
    right: 1em;
}

#users {
    position: fixed;
    top: 8em;
    right: 1em;
}

.day {
    border: 1px solid;
}

#shifts {
    width: 100%;
    display: table;
}

.week {
    display: table-row;
    min-height: 1em;
}

.day {
    display: table-cell;
}

.hour {
    padding: .2em;
    min-height: 3em;
    padding-bottom: 0;
    border-bottom: 1px solid #DDD;
}

.title {
    padding: .25em .25em .25em .5em;
    margin: 0 .5em;
    display: inline-block;
    margin-bottom: .25em;
    font-size: 125%;
    background-color: #F5F5F5;
}

.open {
    background-color: #B3BFE8;
}

.shift img {
    margin-bottom: 0;
}

.icon {
    min-width: 3em;
    max-width: 3em;
    height: 3em;
    background-color: lightgray;
    padding: .25em;
    border: 2px solid darkgray;
    border-radius: .5em;
}

label {
    display: inline-block;
}

.hour {
    list-style: none;
}

.hour li {
    display: inline-block;
}

.shifts, .shift, .hour {
    padding: 0;
    margin: 0;
}

.shifts {
    padding-top: .25em;
}

input[type="radio"] {
    display: none;
}

input:not([disabled]):not(:checked) + .icon:hover {
    background-color: #FF6;
}

input:checked + .icon {
    background-color: #F0B365;
}

.shift.taken .icon {
    background-color: #82C77B;
}

.hour.taken .icon:hover {
    border-color: black;
}

.month {
    transform: rotate(90deg);
    transform-origin: bottom left;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -webkit-transform-origin: bottom left;
    font-size: 150%;
    width: 2em;
    position: relative;
    top: -.75em;
}

.legend {
    text-align: right;
    display: table-cell;
    width: 9em;
    padding-right: .5em;
}

.legend .hour {
    display: block;
    padding-top: 1em;
    padding-right: .5em;
}

.titles, .hours {
    display: table-row;
    list-style: none;
}

.title, .hour {
    display: table-cell;
}

.title, .hour {
    border-width: 1px;
    border-style: solid solid none solid;
}

.hours:hover {
    background-color: #EEE;
    font-weight: bold;
}

.hours:last-child .hour {
    border-bottom: 1px solid;
}

[weekday='0'], [weekday='6'] {
    display: none;
}

.shift {
    margin-left: .25em;
}

.chrome .shift {
    margin-left: 1em;
}

.schedule {
    width: 100%;
    margin-bottom: 1.5em;
}

.schedule th {
    text-align: center;
}

.schedule .task {
    font-size: 300%;
    background-color: #DDD;
    font-family: Lato;
}

.schedule .no-data {
    text-align: center;
    font-size: 150%;
    padding: 1em;
}

.schedule th, .schedule td {
    border: 1px solid;
}

.schedule td {
    background-color: #F5F5F5;
}

.schedule .workers {
    border-width: 1px;
    border-style: none solid;
    list-style: none;
    padding: 0;
    margin: 0;
}

.schedule .workers li {
    border-width: 1px;
    border-style: solid none;
    text-align: center;
    line-height: 2.5em;
    min-height: 2.5em;
    background-color: white;
}

.schedule .workers li:first-child {
    border-top: none;
}

.schedule .workers li:last-child {
    border-bottom: none;
}

.schedule .workers li a {
    display: block;
    height: 100%;
}

.schedule .workers li a:hover {
    background-color: #FF6;
    text-decoration: none;
}

.schedule .workers .taken {
    background-color: #EEE;
}

#range {
    margin-bottom: 1em;
    text-align: center;
}

#range .input-daterange {
    display: inline;
}

@media print {
    #range {
        display: none;
    }
}

.datetime select {
    display: inline;
    width: auto;
}

#shift-table, #task-table {
    th, td {
        border: 1px solid;
        padding: .25em .5em;
    }
}

.loading-icon {
    max-height: 5em;
    display: block;
    margin: auto;
}
