// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

#take-shifts {
    position: fixed;
    top: 5em;
    right: 1em;
}


.day {
    border: 1px solid;
}

#shifts {
    width: 100%;
    display: table;
}

.week {
    display: table-row;
    min-height: 1em;
}

.day {
    display: table-cell;
}

.hour {
    padding: .2em;
    min-height: 3em;
    padding-bottom: 0;
    border-bottom: 1px solid #DDD;
}

.title {
    padding: 0 .25em;
    margin: 0 .5em;
    display: inline-block;
    margin-bottom: .25em;
    font-size: 125%;
}

.open {
    background-color: #B3BFE8;
    border: 1px solid darkblue;
    border-style: solid none;
}

.shift img {
    margin-bottom: 0;
}

.icon {
    min-width: 3em;
    max-width: 3em;
    height: 3em;
    background-color: lightgray;
    padding: .25em;
    border: 2px solid darkgray;
    border-radius: .5em;
}

label {
    display: inline-block;
}

.hour {
    list-style: none;
    margin-bottom: 0;
    margin-top: -1px;
}

.hour li {
    display: inline-block;
}

input[type="radio"] {
    display: none;
}

input:not([disabled]):not(:checked) + .icon:hover {
    background-color: yellow;
}

input:checked + .icon {
    background-color: orange;
}

.shift.taken .icon {
    background-color: green;
}

.hour.taken .icon:hover {
    border-color: black;
}

.month {
    transform: rotate(90deg);
    transform-origin: bottom left;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -webkit-transform-origin: bottom left;
    font-size: 150%;
    width: 2em;
    position: relative;
    top: -.75em;
}

.legend {
    text-align: right;
    display: table-cell;
    width: 9em;
    padding-right: .5em;
}

.legend .hour {
    display: block;
    padding-top: 1em;
    padding-right: .5em;
}

.legend .hour[hovered] {
    font-weight: bold;
}

.titles, .hours {
    display: table-row;
    list-style: none;
}

.title, .hour {
    display: table-cell;
}

.title, .hour {
    border: 1px solid;
    border-style: solid solid none solid;
}

.hours:hover {
    background-color: #CCC;
    font-weight: bold;
}

.hours:last-child .hour {
    border-bottom: 1px solid;
}

.shifts {
    padding: 0;
}

[weekday='0'], [weekday='6'] {
    display: none;
}

.shift {
    margin-left: .25em;
}

.chrome .shift {
    margin-left: 1em;
}

#schedule {
    width: 100%;
}

#schedule th {
    text-align: center;
}

#schedule .task {
    font-size: 300%;
    background-color: #DDD;
}

#schedule .no-data {
    text-align: center;
    font-size: 150%;
}

#schedule th, #schedule td {
    border: 1px solid;
}
