// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

text {
    font-size: 50px;
}

text.label {
    font-size: 50px;
}

.icon rect {
    fill: lightgray;
    stroke: #555;
    stroke-width: 2;
}

.icon:hover rect {
    fill: darkorange ! important;
}

.icon.selected rect {
    fill: yellow;
}

.icon.taken rect {
    fill: green;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.date {
    fill: black;
    font-size: 25px;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.shift {
  fill: teal;
  stroke: #ccc;
  stroke-width: 1px;
}

#take-shifts {
    position: fixed;
    top: 5em;
    right: 1em;
}


.day {
    border: 1px solid;
}

#shifts {
    width: 100%;
    display: table;
}

.week {
    display: table-row;
    min-height: 1em;
}

.day {
    display: table-cell;
}

.hour {
    padding: .2em;
    min-height: .5em;
    padding-bottom: 0;
}

.title {
    padding: .1em .5em;
    margin: 0 .5em;
    border-bottom: 1px solid;
}

.open {
    background-color: #B3BFE8;
}

.shift img {
    margin-bottom: 0;
}

.icon {
    min-width: 3em;
    max-width: 3em;
    height: 3em;
    background-color: lightgray;
    display: inline-block;
    padding: .25em;
    border: 2px solid darkgray;
    border-radius: .5em;
    margin-left: 1em;
}

.hour {
    list-style: none;
    margin-bottom: 0;
}

.open {
    border: 1px solid darkblue;
}

li {
    display: inline;
}

input[type="radio"] {
    display: none;
}

.icon:hover {
    background-color: yellow;
}

input:checked + .icon {
    background-color: orange;
}

.shift.taken .icon {
    background-color: green;
}

.hour.taken .icon:hover {
    border-color: black;
}

